@model ServiceDetailsvm
@section header {
	Service Details
}

<div class="col-md-12">
	<div class="card">
		<div class="card-header">
			<h3 class="card-title">Service Details</h3>
		</div>

		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered text-center">
					<thead class="thead-light">
						<tr>
							<th>Name</th>
							<th>Description</th>
							<th>Status</th>
							<th>Data</th>
							<th>Image</th> 
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>@Model.Name</td>
							<td>@Model.Description</td>
							<td>@(Model.isDelete ? "Deleted" : "Not Deleted")</td>
							<td>@Model.Data.ToString("dd/MM/yyyy")</td>
							<td>
								<img src="~/files/images/@Model.ImageName" class="img-fluid w-50" alt="Image">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
